
:root{
    --bgc-principal:rgba(0, 0, 0, 0.688); 
    --maxWidth: 1450px; 
    --border-radius: 15px;
    --fontSize:8rem; 
    --color:#0f0f0f6f;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth ;
}

body{
height:100%; 
}



header{
    position: relative;
    background-color: rgba(223, 78, 78, 0.873);
    padding: 0 3rem;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
   /* background-color: rgba(255, 255, 0, 0.708);*/
    max-width: 1450px;
    height: 60px;
    position: fixed;
    margin-top: 1.5rem;
}

.navbar li {
   list-style: none;
}


.navbar a{
    text-decoration: none;
    color:black;   
    font-size: 1.8rem;
    position: relative;
}

.navbar .nav-links{
    display: flex;
    gap: 1rem;
}

.nav-links a::after{
    content: "";
    position: absolute;
    width: 0;
    height:1px; 
    bottom: 0;
    left: 0;
    background-color:#000000;
    transition: width 0.7s;
}
.nav-links a:hover::after{
    width: 100%;
}
.nav-links a:hover{
    transform: translateX(10px); 
    transition: transform 0.3s ease;
}

.navbar .logo{
position: absolute;
 width: 5%;
 top: 1rem;
left: 43rem;
}
.navbar .logo img{
    width: 100%;
   }

main{

display: flex;
flex-direction: column;
background-color: #00000049;
border-radius:22px;
padding: 2rem;
margin-top: 4rem;

}

section h1{
    font-size: var(--fontSize);
    color: var(--color);
    z-index: 2;
}
section h1::after{
    content:"";
    position: absolute;
    background-color: #0f0f0f6f; 
    width: 15px; 
    height: 15px;
    right: 0;
    top: 7.5rem;
}
section h1:before{
    content:"";
    position: absolute;
    background-color: #7474746f; 
    width: 100%;
    height: 1px;
    top: 8rem;
    left: 0.5rem;

}

.home{
   position: relative;
   background-color: var(--bgc-principal);
    width: 100%;
    max-width: var(--maxWidth);
    margin: 0 auto;
    height:580px ;
    border-radius: var(--border-radius);
}

.home div{
    /*background-color: rgb(0, 0, 255);*/
    width: 100%;
    max-width: var(--maxWidth);
    height:350px;
    margin: 0 auto ;
    margin-top:-14rem; 
}

.home .titre-portfolio{
    position: absolute;
    font-size: 14rem;
    left: 1rem;
     top: 10rem;
    color: #ffffff26;
    z-index: 1;
    border: none;
} 

.paragraphe1{
    margin-top: 28rem;
   /* border: 1px solid black;*/
    font-size: 2.6rem;
    width: 50%;
    margin-left: 6.4rem;
    color:white; 
    z-index: 4;
}

.paragraphe1::after{
    content:"";
    position:absolute; 
    top: 2rem;
    left: 6rem;
    border-top: 1px solid white;
    border-left: 1px solid white;
    width: 20px;
    height: 20px;   
}


.paragraphe1::before{
    content:"";
    position:absolute; 
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    top: 30rem;
    left: 50rem;
    width: 20px;
    height: 20px;
}



.paragraphe1 span{
position: absolute;
font-size: 9rem;
top: 2rem;
font-weight:500;
}

.home .link-contact{
position: absolute;
top: 23rem;
border: 1px solid rgb(255, 255, 255);
width: 10%;
height: 45px;
display: flex;
justify-content: center;
align-items: center;
left: 57.4rem;
border-radius: 10px;

}


.home ul li{
    position: absolute;
  list-style:none; 
}

.home ul li a{
    text-decoration: none;
    font-size: 1.1rem;
    color: white;
  }
  .portfolio-section .projet-container{
   display: flex;
   justify-content: space-between;
   width: 100%;

  }

.portfolio-section .projet-container article{
  display: flex;
  flex-direction: column;

}
.portfolio-section .projet-container article div{
    width: 600px;
    height: 500px;
    background-color: var(--bgc-principal);
    border-radius: var(--border-radius);

}

article .portfolio{
    font-size: 2rem;
    margin-bottom: 1rem;
    color: var(--color);
    font-weight: 400;
}




.portfolio-section{
    position: relative; 
    width: 100%;
    max-width: 1450px;
    margin: 0 auto;
    margin-top: 15rem;
} 

.number{
    position: absolute;
    font-size:1rem;
    font-weight: 200;

}

.portfolio-section .propos-container{
    width: 100%;
    height: 650px;
    background-color: var(--bgc-principal);
    border-radius:var(--border-radius); 
    max-width: 1200px;
}


.grid{
   
 position:absolute; 
 width: 100%; 
 left: -9rem;
 top: 10rem;   
 display:grid;
 grid-template-columns:repeat(2,400px); 
 justify-content:center;
 align-content: center;
 column-gap: 70px;

}


.grid::after{
   
        content:"";
        position:absolute; 
        top: 4rem;
        left: 17rem;
        border-top: 1px solid rgb(255, 255, 255);
        border-left: 1px solid rgb(255, 255, 255);
        width: 20px;
        height: 20px;   
}
    
.grid::before{
        content:"";
        position:absolute; 
        border-bottom: 1px solid white;
        border-right: 1px solid white;
        top: 34rem;
        left: 72rem;
        width: 20px;
        height: 20px;
}
    
    

.paragraphe{
    
    border-top: 0.5px solid white;
    width: 400px;
    margin-top:6rem; 
    color:white; 
    font-size: 1.4rem; 
    font-weight: 200;
    padding-top: 1rem;
}
.skills-grid
{
    border:1px solid  red;
    border: none;
    display: flex;
    flex-direction: row;
    width: 14%;
    gap: 1rem;
    

}

.skills .web{
    font-weight: 500;
    font-size: 1.5rem;
    margin-top:1rem; 
   /* border: 1px solid black; */

}
.cv{
position: absolute;
top: 30rem;
border: 1px solid rgb(255, 255, 255);
width: 10%;
height: 45px;
display: flex;
justify-content: center;
align-items: center;
left: 18.4rem;
border-radius: 10px;
}

.cv li{
    list-style: none;
}
.cv li a{
    text-decoration: none;
    font-size: 1.1rem;
    color: white;
}


.portfolio-section .contact-container{
    width: 100%;
    height: 700px;
    background-color: var(--bgc-principal);
    border-radius: var(--border-radius);

}
.contact-container h2{
    position: absolute;
    color:white; 
    top: 2.1rem;
    font-size:  var(--fontSize);
}

.contact-container h2::after{
    content:""; 
    position: absolute;
    background-color: white;
    width:1400px;
    height:1px;
    top: 8rem;
    left: 1rem;
}


.contact-mini{
    position: absolute;
    margin-top: 12rem;
    right: 1.5rem;
    width: 80%;
    height: 480px;
    border-radius: var(--border-radius);
    background-color:rgba(0, 0, 0, 0.688);
    padding: 2rem; 
}

.contact-mini p{
  color:white;
  width: 35%;
  font-weight: 200;
  font-size: 1.5rem;
  margin-top: 1rem;
  border-top: 0.5px solid white;
  padding-top:1rem;  
}
.contact-mini p::after{
    content:"";
    position:absolute; 
    top: 1rem;
    left: 1rem;
    border-top: 1px solid rgb(255, 255, 255);
    border-left: 1px solid rgb(255, 255, 255);
    width: 15px;
    height: 15px;
   
}
  
.contact-mini p::before{
    content:"";
    position:absolute; 
    top: 14rem;
    left: 23.5rem;
    border-bottom: 1px solid rgb(255, 255, 255);
    border-right: 1px solid rgb(255, 255, 255);
    width: 15px;
    height: 15px;   
}
  
form{
    margin-left: 30rem;
    margin-top: -10rem;
    display: flex;
    flex-direction: column;
    width: 50%;

}
form label{
    color:white; 
    font-size: 1.6rem;
    font-weight: 200;
    padding-top: 0.7rem ;
 }
form input{
   background: none;
   border: none;
   border-bottom: 1px solid white;
   font-size: 1.5rem;
   margin-top: 0.1rem;
   padding-top: 0.7rem ;
   color:white; 
   padding-bottom: 1rem;
}

form button{
    border:none; 
    width:150px; 
    height:37px;
    font-size: 1rem; 
    font-weight: 500;
    margin-top:1rem; 
    background-color:rgba(117, 117, 117, 0.752);
    color:white;
    border-radius: 8px;

}

form input:focus{

    outline: none;
    background:none; /* Assure la suppression de l'effet par défaut */
}
.reseau{
    /*border:1px solid green; */
    width: 100%;
    max-width: 510px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    z-index: 10;
  }
  .reseau li{
      list-style: none;
  }
  .reseau li a{
      text-decoration: none;
      color: rgb(255, 255, 255);
      font-size: 0.9rem;
  }


.portfolio-section .menu-block{
    background-color: var(--bgc-principal);
    border-radius:var(--border-radius);
    height: 400px;
    max-width: 990px;
}

.menu-block .links-block{
    position: absolute;
    right: 45rem;
    top: 14.6rem;
}

.links-block li{
    list-style: none;
}
.links-block li::after{
    position:absolute; 
    content:"";
    height:0.4px; 
    width: 500px;
    background-color: white;
    left:1rem; 
    margin-top: 3.5rem;
 }
 links-block li::before{
    position:absolute; 
    content:"";
    height:0.4px; 
    width: 500px;
    background-color: white;
    left:1rem; 
    margin-top: 3.5rem;
 }

.links-block li a{
    text-decoration: none;
    color:white; 
    font-size: 3.6rem;
    font-weight: 500;
}

.numero{
    position: absolute;
    font-size:1rem;  
    font-weight: 200;
}


footer{
     width: 100%;
     max-width: var(--maxWidth);
     margin: 0 auto;
     height: 150px;
     margin-top: 2rem;
     background-color:rgba(0, 0, 0, 0.84);
     border-radius: var(--border-radius);
     display: flex;
     align-items: center;
    color: white;
    margin-bottom: 1.3rem;
}

footer .social-lieu-copyright{
   /* border:1px solid black;*/
    display:flex; 
    justify-content: space-between;
    width: 100%;
    padding:0 1.5rem;
}

.social li{
  list-style: none;
}

.social li a{
   text-decoration: none;
   color: white;
}

.grand-titre{
    font-size: 2rem;
    font-weight: 700;
    color:rgba(255, 255, 255, 0.467);
}

.droit{
    font-size: 2.5rem;
    font-weight: 500;
}
.logo-blanc{
    position: absolute;
    width: 8%;
    left: 53rem;
    /*border: 1px solid black;*/
}

.logo-blanc svg{
    fill: rgb(255, 255, 255);
    width: 100%;
}
